* {
  margin: 0;
  padding: 0;
}

body{
  background-color: yellow;
  /* background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}


video {
  height: 26%;
  width: 26%;
}

.video-div {
  text-align: left;
}


@media (max-width: 700px) {
  video {
    height: 90%;
    width: 90%;
  }
  .video-div {
    text-align: center;
    margin: 0 0 2rem 0;
  }
  .omegleheading {
    padding: 1.5rem;
  }
  .btnsize {
    margin: 1.5rem;
  }
}
